<html>
<head>
	<title>ADD App by KS</title>
	<style>

		*{ font-size :50px;}
		body { background-color:khaki}
		.btn{ background-color:black; color:white; border-radius:20px; }

	</style>
</head>
<body>
	<center>
		<h1>Addition App </h1>
		<form>
			<input type ="number" step="any"
			placeholder = "Enter First Number" name="num1" required />
			<br/><br/>
			<input type ="number" step="any"
			placeholder = "Enter Second Number" name="num2" required />
			<br/><br/>
			<input type ="submit" value= "Find" class = "btn"/>
		</form>
		{{ msg }}
	</center>	
</body>
</html>